.error{ color: $magenta;}
.error2{ color: $error2;}
.success{ color: $success;}
#btn_post{
  background: $magenta;
  color: $blanc;
  width: 100%;
  border: none;
  text-align: center;
  padding: 10px;
}